/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
}

.datepicker-container {
    pad: 10px;
    width: 300px;
    position: relative;
}

.input-row {
    display: flex;
    border: 2px solid black;
}
.place-date {
    width: 90%;
}
.date-icon{
    font-size: 2rem;
}

.calendar{
    position: absolute;
    top: 45px;
}

.calendar{

    border: 2px solid black;
    padding: 10px;
}

.month-menu {
    display: flex;
    justify-content: space-between;
}

.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
}

.weekdays div, .days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
}